.color-info {
    color: #887AA6;
}

.info-box {
    background-color: #3f3f3f;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    width: 100%;  /* Ensures the box takes up all available space */
}

.box-small {
    width: 50%;
}

.custom-progress-color {
    background-color: #887AA6;
}
