{% extends "master.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboardStyle.css' %}" >
{% endblock %}

{% block content %}
<div class="container mt-3">
	<div class="row">
		<div class="col-md-3">
            <div class="info-box">
                <h3 class="text-center color-info">Avaible Balance</h3>
			    <h3 class="text-center">$ {{ balance }}</h3>
            </div>	
		</div>
		<div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-box box-small">
                        <h4 class="color-info">Income</h4>
                        <h5>$ {{ income }}</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box box-small">
                        <h4 class="color-info">Spendings</h4>
                        <h5>$ {{ spendings }}</h5>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
            <div class="info-box">
                <h4 class="color-info text-center">Net Worth</h4>
                <h5 class="text-center">$ 23,500.00</h5>
            </div>
		</div>
		<div class="col-md-9">
            <div class="info-box" >
                <h4 class="color-info">Income Goal</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h5>35%</h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <h5>$ 4,200 / 12,000</h5>
                    </div>
                </div>
                
                <div class="progress">
                    <div class="progress-bar bg-custom-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <h5 class="color-info">Income source</h5>
            <p>Salary: 13,074.00</p>
            <p>E-commerce: 1,000.00</p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row info-box">
            <div class="col-md-6">
                <h4 class="text-center">Last Transactions</h4>
                <ol class="list-group">
                    <li class="list-group-item d-flex d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div><span class="fw-bold">Grocery</span><small> 26/04/2024</small></div>
                            Bought juice and pasta for lunch
                        </div>
                        <span class="badge bg-danger rounded-pill">$ -32.79</span>
                    </li>
                    <li class="list-group-item d-flex d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div><span class="fw-bold">Other</span><small> 23/04/2024</small></div>
                            From Danny for pizza 
                        </div>
                        <span class="badge bg-success rounded-pill">$ 10.98</span>
                    </li>
                    <li class="list-group-item d-flex d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div><span class="fw-bold">Salary</span><small> 21/04/2024</small></div>
                            Job 
                        </div>
                        <span class="badge bg-success rounded-pill">$ 1,850.00</span>
                    </li>
                    <li class="list-group-item d-flex d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div><span class="fw-bold">Grocery</span><small> 20/04/2024</small></div>
                            Beer and pizza with friends 
                        </div>
                        <span class="badge bg-danger rounded-pill">$ -35.98</span>
                    </li>
                </ol>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Add new Transaction</h4>
                <div class="row">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Title</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Amount</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Date</label>
                            <input type="email" class="form-select" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Notes</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}