{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Finance Tracker</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <script src="https://kit.fontawesome.com/db9f7ebbd9.js" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'global.css' %}" >
    <link rel="stylesheet" href="{% static 'css/masterStyle.css' %}" >
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-custom-lightgrey navbar-dark">
        <div class="container-fluid">
            <a href="{% url 'main' %}" class="navbar-brand">Finance Tracker</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarText">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'testing' %}">Testing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>