{% extends "master.html" %}
{% load static %}
{% block title %} Testing Page {% endblock %}

{% block content %}
<div class="container">
    <h1>Balance: $ {{ balance }}</h1>
</div>


<div class="container-sm">
    <h3>Latest Transactions</h3>
    <ol class="list-group">
        {% for x in transactions_main_account %}
            <li class="list-group-item d-flex align-items-start">
                <div class="ms-2 me-auto">
                    <div><span class="fw-bold">{{ x.title }}</span><small> {{ x.date }}</small></div>
                    {{ x.notes }}
                </div>
                <div class="d-flex flex-column">
                    <div class="d-block">
                        {% if x.amount < 0 %}
                            <span class="badge rounded-pill bg-danger">$ {{ x.amount }}</span>
                        {% elif x.amount > 0 %}
                            <span class="badge rounded-pill bg-success">$ {{ x.amount }}</span>
                        {% else %}
                            <span class="badge rounded-pill bg-secondary">$ {{ x.amount }}</span>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm" title="Edit transaction"><i class="fa-solid fa-pen-to-square"></i></button>
                        <form method="post" action="{% url 'testing' %}">
                            {% csrf_token %}
                            <input type="hidden" name="transaction_id" value="{{ x.id }}">
                            <button type="submit" class="btn btn-sm" name="action" value="delete_transaction" title="Delete transaction"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
    {% if transactions_main_account.count == 0 %}
        <ol class="list-group">
            <li class="list-group-item d-flex d-flex align-items-start">No transactions available.</li>
        </ol>
    {% endif %}
</div>

<br />
<br />

<div class="container">
    <div class="row">
        <h1>Create a New Transaction</h1>
        <form method="post" action="{% url 'testing' %}">
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr>
                    <!-- Label on one row -->
                    <td>{{ field.label_tag }}</td>
                </tr>
                <tr>
                    <!-- Field on the next row -->
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><button type="submit" class="btn btn-primary" name="action" value="add_new_transaction">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}