{% extends "master.html" %}
{% load static %}
{% block title %} Testing Page {% endblock %}

{% block content %}
<ol class="list-group">
    {% for x in transactions_main_account %}
        <li class="list-group-item d-flex d-flex align-items-start">
            <div class="ms-2 me-auto">
                <div><span class="fw-bold">{{x.title}}</span><small> {{x.date}}</small></div>
                {{x.notes}}
            </div>
            {% if x.amount < 0%}
                <span class="badge bg-danger rounded-pill">$ {{ x.amount }}</span>
            {% elif x.amount > 0%}
                <span class="badge bg-success rounded-pill">$ {{ x.amount }}</span>
            {% else %}
                <span class="badge bg-secondary rounded-pill">$ {{ x.amount }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ol>

<div class="row">
    {{form}}
</div>





{% endblock %}